= form_for(@channel || Channel.new) do |f|

  %div
    = f.label :name
    = f.text_field :name, :class => "input-sm form-control #{'has-error' if @channel.errors[:name].present?}"
    %span.help-block
      =@channel.errors[:name].first if @channel.errors[:name].present?
  %div
    = f.check_box :public
    = f.label :public
    %span.help-block
      Enabling the option will mean anyone can use this channel
        
  %div= f.submit "Save", :class => 'btn btn-block btn-primary mt-1'