= form_for(@channel || Channel.new) do |f|
  
  .field
    = f.label :name
    %br/
    = f.text_field :name, :class => "input-sm form-control #{'has-error' if @channel.errors[:name].present?}"
  .field
    = f.label :public
    %br/
    = f.check_box :public
          
  .actions
    = f.submit