%h1 Listing channels
%table
  %tr
    %th
    %th
    %th
  - @channels.each do |channel|
    %tr
      %td= channel.name
      %td= link_to 'Show', channel
      %td= link_to 'Edit', edit_channel_path(channel)
      %td= link_to 'Destroy', channel, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Channel', new_channel_path
