- friend = friendship.friend
.media.friend{class: "user-friendship-#{friendship.id}"}
  = image_tag avatar_url(friend, "80"), class: "rounded_corners"
  .media-body
    %h4.media-heading= friend.name
    = succeed "." do
      %em{class: "friendship-#{friendship.id}"}
        Friendship is #{friendship.state}
    %br/
    %div{class: "friendship-actions-#{friendship.id}"}
      - if !friendship.declined?
        - if friendship.requested? || friendship.ignored?
          = link_to "Accept Friendship", accept_user_friendship_path(id: friendship), class: 'btn index-accept-friendship', data: { friendship_id: friendship.to_param }
        - if friendship.blocked?
          = form_for friendship, url: user_friendship_path(friendship), method: :delete do |form|
            = submit_tag "Unblock User", class: 'btn index-unblock-user'
        - else
          - if friendship.requested?
            = link_to "Decline Friendship", decline_user_friendship_path(id: friendship), class: 'btn index-decline-friendship', data: { friendship_id: friendship.to_param }
          - else
            -if friendship.pending?
              = form_for friendship, url: user_friendship_path(friendship), method: :delete do |form|
                = submit_tag "Delete Request", class: 'btn index-delete-friendship'
            -if friendship.accepted?
              = link_to "Delete Friendship", destroy_user_friendship_path(id: friendship), class: 'btn index-delete-friendship', data: { friendship_id: friendship.to_param }
                  
        - if friendship.requested?
          = form_for friendship, url: block_user_friendship_path(friendship), method: :put do |form|
            = submit_tag "Block Friendship", class: 'btn btn-danger index-delete-friendship'