-self.formats = [:json, :html]
- friend = friendship.friend
.friend.row.col-md-12.mt-1.pv-1{class: "user-friendship-#{friendship.id}"}
  .col-md-1.gap
    .col-md-12.img-centered
      =link_to(friend) do
        = image_tag avatar_url(friend, "80"), class: "rounded_corners"
  .col-md-10
    .media-body
      .col-md-12.text-centered
        =link_to(friend) do
          %h4.media-heading= friend.name
        = succeed "." do
          %em{class: "friendship-#{friendship.id}"}
            Friendship is #{friendship.state_to_name}
        %br/
      %div{class: "friendship-actions-#{friendship.id}"}
        - if !friendship.declined?
          - if friendship.requested? || friendship.ignored?
            .col-xs-12.col-md-4
              = link_to "Accept Friendship", accept_user_friendship_path(id: friendship), class: 'friendship-action-btn btn btn-block btn-success index-accept-friendship', data: { friendship_id: friendship.to_param }
          - if friendship.blocked?
            .col-xs-12.col-md-4
              = link_to "Unblock User", block_user_friendship_path(id: friend), class: 'friendship-action-btn btn btn-block btn-success index-unblock-friendship', data: { friend_id: friend.to_param, friendship_id: friendship.to_param }
          - else
            - if friendship.requested?
              .col-xs-12.col-md-4
                = link_to "Decline Friendship", decline_user_friendship_path(id: friendship), class: 'friendship-action-btn btn btn-block btn-default index-decline-friendship', data: { friendship_id: friendship.to_param }
            - else
              -if friendship.pending?
                .col-xs-12.col-md-4
                  = link_to "Delete Request", destroy_user_friendship_path(id: friendship), class: 'friendship-action-btn btn btn-block btn-danger index-delete-friendship', data: { friendship_id: friendship.to_param }
              -if friendship.accepted?
                .col-xs-12.col-md-4
                  = link_to "Delete Friendship", destroy_user_friendship_path(id: friendship), class: 'friendship-action-btn btn btn-block btn-danger index-delete-friendship', data: { friendship_id: friendship.to_param }
                  
          - if friendship.requested?
            .col-xs-12.col-md-4
              = link_to "Block Friendship", block_user_friendship_path(id: friend), class: 'friendship-action-btn btn btn-block btn-danger index-block-friendship', data: { friend_id: friend.to_param, friendship_id: friendship.to_param }