%ul.nav.nav-tabs
  %li
    %a{"data-toggle" => "tab", href: "#all"} All
  %li
    %a{"data-toggle" => "tab", href: "#accepted"} Accepted
  %li
    %a{"data-toggle" => "tab", href: "#pending"} Pending
  %li
    %a{"data-toggle" => "tab", href: "#blocked"} Blocked
  %li
    %a{"data-toggle" => "tab", href: "#ignored"} Ignored  
.tab-content
  #all.tab-pane
    - @user_friendships.each do |friendship|
      = render 'card', :friendship => friendship
  #accepted.tab-pane
    - @accepted.each do |friendship|
      = render 'card', :friendship => friendship
  #pending.tab-pane
    - @pending.each do |friendship|
      = render 'card', :friendship => friendship
  #blocked.tab-pane
    - @blocked.each do |friendship|
      = render 'card', :friendship => friendship
  #ignored.tab-pane
    - @ignored.each do |friendship|
      = render 'card', :friendship => friendship    
      
      
      
                