- @user_friendships.each do |friendship|
  - friend = friendship.friend
  .media.friend{id: dom_id(friendship)}
    = image_tag avatar_url(friend, "80"), class: "rounded_corners"
    .media-body
      %h4.media-heading= friend.name
      = succeed "." do
        %em
          Friendship is #{friendship.state}
      %br/
      - if !friendship.declined?
        - if friendship.requested? || friendship.ignored?
          = form_for friendship, url: accept_user_friendship_path(friendship), method: :put do |form|
            = submit_tag "Accept Friendship", class: 'btn'
        - if friendship.blocked?
          = form_for friendship, url: user_friendship_path(friendship), method: :delete do |form|
            = submit_tag "Unblock User", class: 'btn'
        - else
          - if friendship.requested?
            = form_for friendship, url: decline_user_friendship_path(friendship), method: :put do |form|
              = submit_tag "Decline Friendship", class: 'btn'
          - else
            -if friendship.ignored? || friendship.pending?
              = form_for friendship, url: user_friendship_path(friendship), method: :delete do |form|
                = submit_tag "Delete Friendship", class: 'btn'
        - if friendship.requested?
          = form_for friendship, url: block_user_friendship_path(friendship), method: :put do |form|
            = submit_tag "Block Friendship", class: 'btn btn-danger'