.col-md-12
  .col-md-12
    %ul.nav.nav-tabs
      %li
        %a{"data-toggle" => "tab", href: "#all"} All
      %li
        %a{"data-toggle" => "tab", href: "#accepted"} Accepted
      %li
        %a{"data-toggle" => "tab", href: "#pending"} Pending
      %li
        %a{"data-toggle" => "tab", href: "#blocked"} Blocked
      %li
        %a{"data-toggle" => "tab", href: "#ignored"} Ignored  
.tab-content
  #all.tab-pane
    -if @user_friendships.present?
      - @user_friendships.reverse.each do |friendship|
        = render 'card', :friendship => friendship
    -else
      .col-md-12
        .col-md-12
          %h4 You have no friends
  #accepted.tab-pane
    -if @accepted.present?
      - @accepted.reverse.each do |friendship|
        = render 'card', :friendship => friendship
    -else
      .col-md-12
        .col-md-12
          %h4 You have no accepted friends
  #pending.tab-pane
    -if @pending.present?
      - @pending.reverse.each do |friendship|
        = render 'card', :friendship => friendship
    -else
      .col-md-12
        .col-md-12
          %h4 You have no pending friends
  #blocked.tab-pane
    -if @blocked.present?
      - @blocked.reverse.each do |friendship|
        = render 'card', :friendship => friendship
    -else
      .col-md-12
        .col-md-12
          %h4 You have no blocked friends 
  #ignored.tab-pane
    -if @blocked.present?
      - @ignored.reverse.each do |friendship|
        = render 'card', :friendship => friendship    
    -else
      .col-md-12
        .col-md-12
          %h4 You have no ignored friends  
      
      
                