= devise_error_messages!
.col-md-4
  %h2
    Edit profile
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
    .well
      %div
        = f.label :email
        %br/
        = f.email_field :email, :autofocus => true, :class => "input-sm form-control"
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      %div
        = f.label :name
        %br/
        = f.text_field :name, :class => "input-sm form-control"
      %div.row.mv-1
        .col-md-12.file_upload
          = image_tag f.object.avatar.present? ? avatar_url(current_user) : '', :id => "form_img", :class => "mb-1 rounded_corners",:style => "#{f.object.avatar.present? ? '' : 'display: none;'}", :width => "100%"
        .col-md-12
          %span.btn.btn-default.btn-file
            Upload avatar
            = f.file_field :avatar, :id => "form_img_input"
          -if f.object.avatar.present?
            =link_to('Crop avatar', crop_user_registration_path, :id => 'crop_link', :class => 'btn btn-default mv-1')    
      %div
        = f.label :password
        %i (leave blank if you don't want to change it)
        %br/
        = f.password_field :password, :autocomplete => "off", :class => "input-sm form-control pr-1"
      %div
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, :class => "input-sm form-control"
      %div= f.submit "Update", class: 'btn btn-block btn-primary mt-1'
  
    .col-md-12
      ="&nbsp;".html_safe

    %h3 Privacy
    .well
      %div
        %label{for: "user_privacy"} Others can...
      %div
        = f.check_box :images_visable
        see my photos
      %div
        = f.check_box :email_visable
        see my email
      %div
        = f.check_box :friends_visable
        see my friends   
      %div
        = f.check_box :friends_visable
        message me
      %div= f.submit "Save chaneges", class: 'btn btn-block btn-primary mt-1'  
         
  
.col-md-12
  ="&nbsp;".html_safe
  
  %h3 Cancel my account
  
.col-md-4
  .well
    %p
      Are you unhappy with your experience of Joelbook?
    %div
      = link_to "Cancel my account", "#cancel_modal", :'data-toggle' => "modal", :class => "btn btn-danger"
  = link_to "Back", :back

#cancel_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h4#myModalLabel.modal-title Are you sure?
      .modal-body
        If you do you will not be able to access your account again
      .modal-footer
        = link_to "Yes, cancel my account", registration_path(resource_name), :method => :delete, :class => "btn btn-danger"
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
        
:javascript
  readURL = function(input) {
        var reader;
        if (input.files && input.files[0]) {
          reader = new FileReader();
          reader.onload = function(e) {
            $("#form_img").animate({
              height: 0
            }, 0).show().animate({
              height: 200
            }, 500);
            $("#form_img").attr("src", e.target.result);
          };
          reader.readAsDataURL(input.files[0]);
        }
      };
      $(document.body).on('change', "#form_img_input", function(e) {
        readURL(this);
        $("#new_image").submit();
      });