.col-md-3
  =image_tag avatar_url(@user, "200"), class: "rounded_corners"
  -if current_user
    %h3{id: 'user', data: { user_id: current_user.id.to_param }}
      =@user.name
  -else
    %h3{id: 'user'}
      =@user.name
  
  -if @user.email_visable
    %br
    
    %i.fa.fa-envelope-o
    =link_to(@user.email, "mailto:#{@user.email}")
  
  -if @user.images_visable
    %br
  
    %i.fa.fa-file-image-o
    =link_to('pictures', images_user_path(@user))
  
  -if @user.friends_visable
    %br
  
    %i.fa.fa-users
    =link_to('friends', friends_user_path(@user))
  
  - if signed_in? && @user != current_user && @user.can_be_messaged
    %br
    
    %i.fa.fa-comment-o
      -if @channel
        =link_to("send a message", channel_posts_path(@channel))
      -else
        =link_to("send a message", add_private_channel_path(current_user, @user))
  
    #friend-status
      - if current_user.friends.include?(@user) || current_user.pending_friends.include?(@user)
        = link_to "Unfriend User", user_friendship_path(friend_id: @user), class: 'btn btn-danger', id: 'unfriend-user', data: { friend_id: @user.to_param }
      - else
        = link_to "Add Friend", new_user_friendship_path(friend_id: @user), class: 'btn btn-success', id: 'add-friendship', data: { friend_id: @user.to_param }
    #block-status
      - if current_user.blocked_friends.include?(@user)
        = link_to "Unblock User", unblock_user_friendship_path(friend_id: @user), class: 'btn', id: 'unblock-user', data: { friend_id: @user.id.to_param }
      - else
        = link_to "Block User", block_user_friendship_path(friend_id: @user), class: 'btn btn-danger', id: 'block-user', data: { friend_id: @user.id.to_param }
  
.col-md-9
  %h3
    Recent Activity
  .backbone  
    
-if UserFriendship.where(:friend_id => @user.id).first
  :javascript
    window.friendId = #{UserFriendship.where(:friend_id => @user.id).first.id};
  
- if current_user.friends.include?(@user) || current_user.pending_friends.include?(@user)
  :javascript
    $("#block-user").hide();

:javascript

  var getUserFriendship;

  getUserFriendship = function() {
    return $.ajax({
      url: Routes.user_friendships_path(),
      dataType: "json",
      type: "GET",
      success: function(e) {
        friendship = _.filter(e.all_user_friendships, function(f) {return f.friend_id == #{@user.id}})[0]
        if (friendship) {
          if (friendship.state == "accepted" || friendship.state == "pending")  {
            $("#friend-status").hide().html('<a href="/user_friendships/#{@user.id}?friend_id=#{@user.id}" class="btn btn-danger" data-friend-id="#{@user.id}" id="unfriend-user">Unfriend User</a>').fadeIn();
            $("#block-status").html('');
          } else {
            $("#friend-status").hide().html('<a href="/user_friendships/new?friend_id=#{@user.id}" class="btn btn-success" data-friend-id="#{@user.id}" id="add-friendship">Add Friend</a>').fadeIn();
            $("#block-status").hide().html('<a href="/user_friendships/2/block?friend_id=#{@user.id}" class="btn btn-danger" data-friend-id="#{@user.id}" id="block-user">Block User</a>').fadeIn();
          }
        } else {
          $("#friend-status").hide().html('<a href="/user_friendships/new?friend_id=#{@user.id}" class="btn btn-success" data-friend-id="#{@user.id}" id="add-friendship">Add Friend</a>').fadeIn();
          $("#block-status").hide().html('<a href="/user_friendships/2/block?friend_id=#{@user.id}" class="btn btn-danger" data-friend-id="#{@user.id}" id="block-user">Block User</a>').fadeIn();
        } 
      }
    });
  };

  t = setInterval(getUserFriendship, 10000)

-#
  :javascript
    window.posts = #{@posts.to_json.html_safe};
    