= form_for(@event || Event.new) do |f|
  %div
    = f.label :name
    %br/
    = f.text_field :name, :class => "input-sm form-control"
  %div
    = f.label :content
    %br/
    = f.text_field :content, :class => "input-sm form-control"
  %div
    = f.submit "Save", :class => 'btn btn-block btn-primary mt-1'
