<% if (window.profile == false){ %> 
  <div class="col-md-12 mb-1">
    <div id="new-post-container">
      <a href="channels/<%= window.channel_id %>/posts/new#modal" data-toggle="modal" id="new_post" class="btn btn-primary btn-block" data-static="true">New Post</a>
    </div>
  </div>
<% } %>

<div class="<% if (window.home || window.show ) {  %>col-md-12<% } else { %>col-md-6<% } %>">
  <% posts.each(function(post){ %>
    <% if (post.get('channel_id') == window.channel_id || (window.show && post.get('user_name') == window.user_name) || window.home){ %> 
      <div class="well">
        <div class="row">
          <div class="col-md-12">
            <div class="header-sections"><a href="/users/<%= post.get('user_id') %>"><img src="<%= post.get('user_img_url') %>" class="rounded_corners"></a></div>
            <div class="header-sections"><h3><%= post.get('user_name') %></h3></div>
            <div class="header-sections">
              <% if (post.get('user_name') == window.user.name){ %> 
              	<div><a href="/channels/<%= window.channel_id %>/posts/<%= post.id %>/edit#modal" data-toggle="modal" data-static="true" id="show_modal" class="btn btn-block btn-primary mb-1" onclick="app.navigate('channels/<%= window.channel_id %>/posts/<%= post.id %>/edit', true); $('.nav-tabs a:first').tab('show');">Edit</a></div>
              	<div><a href="#delete_<%= post.get('id')%>" data-toggle="modal" class="btn btn-block btn-danger">Destroy</a></div>
        	     <% } %>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-12"><%= post.get('name') %></div>
          <div class="col-md-12 mt-1">
            <% if (post.get('img_url')){ %> 
              <img src="<%= post.get('img_url') %>" width="100%" class="rounded_corners img img-responsive">
            <% } %>
      	  </div>
          
          <% if (post.get('youtube_url') ) { %>
            <div class="col-md-12">
              <div class="flex-video widescreen mt-1" style="margin: 0 auto;text-align:center;">
                <p class="mt-1"><iframe width="400" height="250" src="<%= post.get('youtube_url') %>" frameborder="0" allowfullscreen></iframe></p>
              </div>
            </div>  
          <% } %>
          
        </div>
      </div>
      
      <div class="modal fade" id="delete_<%= post.get('id') %>">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title">Are you sure you want to delete this post?</h4>
            </div>
            <div class="modal-body">
              <p>If you do it will not longer exist</p>
            </div>
            <div class="modal-footer">
              <a href="" data-method="delete"  class="btn btn-danger" data-id="<%= post.id %>" data-static="true" >Destroy</a>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <% } %>
  <% }); %>
</div>
