.col-md-12
  .col-md-12
    %strong{:style => "font-size:25px;"}
      =@channel.name if @channel
    =link_to "<i class='fa fa-pencil crud-icon'></i>".html_safe, "##{@channel.id}_edit_channel", :'data-toggle' => "modal"

    =link_to "<i class='fa fa-times'></i>".html_safe, "##{@channel.id}_delete_channel", :'data-toggle' => "modal"  

  -if @channel && @channel.owner_user == current_user && !@channel.private? && !@channel.public?
    .col-md-6
      #accordion.panel-group.dropdown
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse", :style => "display: inline;"}
                Manage Users
          #collapse.collapse
            .col-md-12
              %ul.no-dec.ul-user
                -@channel.users.reverse.each do |user|
                  =render :partial => 'posts/user', :locals => {:user => user, :channel => @channel}
            =form_for (@user || User.new), remote: true, :url => channel_search_path, :method => 'get', :html => {class: "nav navbar-form navbar-left"} do |f|
              .form-group
                = f.text_field :name, placeholder: "Add user to channel", autocomplete: "off", :id => "channel_user_name", :class => "input-sm form-control"
                %ul.channel-dropdown-menu.dropdown-menu.search{"aria-labelledby" => "dLabel", role: "menu"}
                = f.hidden_field :channel_id, :value => @channel.id
              
  -elsif @channel && !@channel.private? && !@channel.public?
    .col-md-6
      #accordion.panel-group.dropdown
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse", :style => "display: inline;"}
                Users
          #collapse.collapse
            .col-md-12
              %ul.no-dec.ul-user
                -@channel.users.reverse.each do |user|
                  =render :partial => 'posts/user', :locals => {:user => user, :channel => @channel}

:javascript
  window.posts = #{@posts.to_json.html_safe};
  window.profile = false;

.modal.fade{id: "#{@channel.id}_edit_channel"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"}
          %i.fa.fa-times
        %h4 Editing channel
      .modal-body
        =render "channels/form", :@channel => @channel, :name => "posts"

:javascript    
  $( document ).ready(function() {
    $( ".#{@channel.id}_dismiss" ).click(function() {
      $("##{@channel.id}_edit_channel").modal('hide');
    });
  });
    
    

.modal.fade{id: "#{@channel.id}_delete_channel"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"}
          %i.fa.fa-times
        %h4 Are you sure you want to delete this channel?
      .modal-body
        If you do it will no longer exist!
      .modal-footer
        %div=link_to("<i class='fa fa-times'></i> Delete".html_safe, channel_path(@channel.id), :method => :delete, :'data-toggle' => "modal", :class => 'btn btn-block btn-danger')    

-if @channel.errors.present?
  :javascript    
    $( document ).ready(function() {
      $("##{@channel.id}_edit_channel").modal('show');
      $( ".click" ).click(function() {
        $("##{@channel.id}_edit_channel").modal('hide');
      });
    });