!!!
%html
  %head
    %title RailsRealtime
    = stylesheet_link_tag    "application", :media => "all"
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel: "stylesheet"}/
    = javascript_include_tag "http://localhost:5001/socket.io/socket.io.js"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head
  %body         
    .navbar.navbar-default{role: "navigation"}
      .container-fluid
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      
        =link_to("Joelbook", root_path, :class => "navbar-brand")
        
        .navbar-collapse.collapse  
          -if current_user
            =form_for (@user || User.new), remote: true, :url => search_path, :method => 'get', :html => {class: "nav navbar-form navbar-left"} do |f|
              .form-group
                .dropdown
                  = f.text_field :name, placeholder: "Search for user", autocomplete: "off"
                  %ul.dropdown-menu.user-dropdown-menu{"aria-labelledby" => "dLabel", role: "menu"}
          
            %ul.nav.navbar-nav.navbar-left
              %li
                =link_to( "Friends", user_friendships_path)

                    
          %ul.nav.navbar-nav.navbar-right
            -if !current_user
              %li
                =link_to("Sign in", user_session_path)
              %li
                =link_to("Sign up", new_user_registration_path)
            -else
              %li
                =link_to(current_user.name, edit_user_registration_path)
              %li  
                =link_to("Sign out", destroy_user_session_path, :method => :delete) 
    .container
      - flash.each do |type, message|
        .alert.alert-block{ :class => flash_class(type)}
          %button.close{"data-dismiss" => "alert"} x
          %div
            = message
      = yield
      
      
	  
    -if current_user
      :javascript
        window.user = #{current_user.as_json(:only => :name, :methods => [:encrypted_password, :id, :auth, :avatar_url]).to_json};
        if (window.posts != undefined) {
          $( ".container" ).append( "<div class='col-md-12'><div class='backbone'></div></div>" );
        }
    
    -if @channel
      :javascript
        window.channel_id = #{@channel.id}
      
