!!!
%html
  %head
    %title RailsRealtime
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      - flash.each do |type, message|
        .alert.alert-block{ :class => flash_class(type)}
          %button.close{"data-dismiss" => "alert"} x
          %div
            = message
      = yield
